.header{
    text-align: center;
}

img {
    width: 50%;

}
.fish__name{
    font-size: x-large;

}

.fish_species{
    font-size: larger;

}

.container {
   flex: 3;
   align-items: center;
   text-align: center;
   padding: 1em;
}

.fish_quotes{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.tank_tips{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.fish_page{
    display: flex;
}
/* .quote{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
} */

/* .fish_tank_tips{
    display: flex;

} */
